@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<WebApp.Models.User>

<script src="~/js/AdminOptions.js"></script>



<div class="container block2">
   
    <div class="container">
        <div style="display: flex;">
            <button type="button" onclick="logout()" class="btn btn-outline-primary">Logout</button>
        </div>
        <div style="display:flex;justify-content:center;align-items:center;">
            <button type="button" onclick="deleteCheckedContacts()" class="btn btn-danger btn-lg btn-block">Delete</button>
            <button type="button" onclick="blockCheckedContacts()" class="btn btn-dark btn-lg btn-block">Block</button>
            <button type="button" onclick="unblockCheckedContacts()" class="btn btn-dark btn-lg btn-block">Unblock</button>
        </div>
        <div style="display:flex;justify-content:center;align-items:center;margin-top: 100px">
            <button id="btn-on" class="btn btn-dark">Select all</button>
            <button id="btn-off" class="btn btn-dark">Unselect</button>
        </div>
        <table class="table table-hover table-responsive">
            <thead>
            <tr>
            </tr>
            <tr>
                <th>User Id</th>
                <th class="col-md-3 col-xs-3">First Name</th>
                <th class="col-md-3 col-xs-3">Last Name</th>
                <th class="col-md-3 col-xs-3">E-mail</th>
                <th class="col-md-3 col-xs-3">Registration</th>
                <th class="col-md-3 col-xs-3">Last login</th>
                <th class="col-md-3 col-xs-3">Status</th>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
                  <label class="form-check-label" for="flexCheckIndeterminate">
                      <b>Select all / Unselect all</b>
                  </label>
                </div>
            </tr>
            </thead>
            <tbody>

            @foreach (WebApp.Models.User user in Model)
            {
                <tr>
                    <th scope="row">@user.Id</th>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>@user.Email</td>
                    <td>@user.RegisterDate.ToString("d")</td>
                    <td>@user.LastLoginDate.ToString("d")</td>
                    <td>@user.Status</td>
                    <td><input class="user-checkbox" type="checkbox" name="@user.Id"></td>
                </tr>
            }
            </tbody>
        </table>

    </div>
</div>


<script src="https://snipp.ru/cdn/jquery/2.1.1/jquery.min.js"></script>
<script>$('#flexCheckIndeterminate').click(function(event) {   
            if(this.checked) {
                $(':checkbox').each(function() {
                    this.checked = true;                        
                });
            } else {
                $(':checkbox').each(function() {
                    this.checked = false;                       
                });
            }
        }); </script>